@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* For Header Component */
.dancing-script{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: "900";
  font-style: normal;
}
/* For Footer Component */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

/* For Home Component */
@media screen and (min-width:769px){
  .Home-Img{
    background-image: url('./images/home.jpg');
    background-size:cover;
    height: 100vh;
  }
}
@media screen and (max-width:768px){
  .Home-Img{
    background-image: url('./images/homei.jpg');
    background-size:cover;
  }
}
@media screen and (min-width:760) and (max-width:768) {
  .Home-Img{
    height: 107vh;
  }  
}
.icon-container {
  width: 100%; /* Ensure the icon fills its container */
}

.glass-container-i {
  background-color: rgba(255, 255, 255, 0.2); /* Adjust the opacity as needed */
  backdrop-filter: blur(1px); /* Adjust the blur radius as needed */
}
.lobster-regular{
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.glass-container-ii {
  background-color: rgba(255, 255, 255, 0.2); /* Adjust the opacity as needed */
  backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
}
@media screen and (max-width:991px){
  .title-t{
    font-size: medium;
    font-style: italic;
  }
}
@media screen and (min-width:991px){ 
  .hover-card:hover{
    transform: scale(1.1);
    transition:transform 1.5s;
  }
}
/* tasbi.jsx */
.tasbeeh-bg{
  background-image: url('./images/tasbeeh.png');
  background-size: cover;
  min-height: 90vh;

}

/* QuranSharif.jsx */
.quran-image{
  background-image: url('./images/quran-bgi.png');
  background-size:cover;
  min-height: 100vh;
}
@media screen and (max-width:320px){
  .margin-col{
    margin-left: 8px;
    margin-right: 8px;
  }
}

.nice-input {
  padding: 8px 12px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.nice-input:focus {
  outline: none;
  border-color: #80bdff;
}
@media screen and (max-width:767px){
  .custom-mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}